.Main-Content {
  /*background-image: url(~src/resources/red_4k.jpg);*/
  background-color: #d54545;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 30%;
  height: 60%;
  margin: 20% 35%;
  zoom: inherit;
  padding: 2%;
}

.Main-Content h1 {
  font: 10vh 'Orbitron', sans-serif;
  text-align: center;
}

.Main-Content h2 {
  font: 6vh 'Orbitron', sans-serif;
  text-align: center;
 }

.Main-Content .btn-warning {
  margin-top: 20%;
  margin-left: 40%;
  margin-right: 40%;
  min-height: 10%;
  min-width: 20%;
}
